<!DOCTYPE html>
<html>
<head>
	<title>Groupies</title>
	<link rel="stylesheet" type="text/css" href="gerlitz_stylesheet.css">
	<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<nav>
			<% if current_user %>
				<a href="/">Gossip</a>
				<a href="/othergroupies">Groupies</a>
				<a href="/profile">My Profile</a>
				<a href="/logout">Log out</a>
				<br>
				<h1>Hello <%= current_user.username %>!</h1>
			<% else %>
				<a href="/signup">Sign Up</a>
				<a href="/login">Log In</a>
			<% end %>
		</nav>
	</header>
	<%= flash[:notice] if flash[:notice] %>
	<%= yield %>
</body>
</html>