<div class="new_entry">
	<form action="/newpost" method="POST">
		<p>
			<input type="textarea" name="newpost" required><br>
		</p>
		<p>
			<input type="submit" value="post">
		</p>
	</form>
</div>

<div class="feed">
	<p><%=    %></p>

</div>