<div class="new_entry">
	<form action="/newpost" method="POST">
		<p>
			<input type="textarea" name="newpost" required><br>
		</p>
		<p>
			<input type="submit" value="post">
		</p>
	</form>
</div>

<div class="feed">
	<p><%=    %></p>

</div>

<div class="thefeed">
<h1>Groupies love to gossip!</h1>
	<% @posts.each do |post| %>
	<p><%= post.title %></p>
	<p><%= post.body %></p>
	<hr>
<%end%>
</div>