<div class="new_entry">
	<form action="/newpost" method="POST">
		<p>
			<label for="title">Title</label>
			<input type="text" name="[post]title" required><br>
		</p>
		<p>
			<label for="body">Body</label><br>
			<textarea rows="20" cols="50" maxlength="150" name="[post]body" required></textarea><br>
		</p>
		<p>
			<input type="submit" value="post">
		</p>
	</form>
</div>

<div class="myfeed">
<h1>My Posts</h1>
	<% @posts.each do |post| %>
	<p><%= post.title %></p>
	<p><%= post.body %></p>
	<hr>
<%end%>
</div>

<h3>Following</h3>
<ol>
<% @user.following.each do |user| %>
	<li><%= user.username %></li>
<% end %>
</ol>