<form action="/signup" method="POST">
	<h1>Sign Up</h1>
		<p>
		<label for="fname" style="display: none">First Name</label>
		<input type="text" name="[user]fname" placeholder="First Name" required>
	</p>
		<p>
		<label for="lname" style="display: none">Last Name</label>
		<input type="text" name="[user]lname" placeholder="Last Name" required>
	</p>
		<p>
		<label for="username" style="display: none">Username</label>
		<input type="text" name="[user]username" placeholder="Username" required>
	</p>
	<p>
		<label for="email" style="display: none">Email</label>
		<input type="email" name="[user]email" placeholder="email" required>
	</p>
	<p>
		<label for="password" style="display: none">Password</label>
		<input type="password" name="[user]password" placeholder="password" required>
	</p>
		<input type="submit" value="Sign Up">
</form>	