	<div class="welcome">
		<h1>Welcome to Groupie!</h1>
			<p>
				You saved every ticket from every show you’ve ever seen.
			</p>

			<p>
			You have drawers full of band tees and walls plastered with band posters.
			</p>

			<p>
			You've crossed state lines and travel to new cities, all in the name of good live music.
			</p>

			<p>
			You share your favorite bands in every way you can because you want the entire world to be a fan too.
			</p>
		<h1>Groupie is for a music fan like you.</h1>
</div>


