html { 
  background: url(/empty_stage.jpg) no-repeat center center fixed; 
  background-size: cover;
}

header{
	background-color: black;
}

h1, h2, nav {
	font-family: 'Rock Salt', cursive;
	color: white;
}

#flash {
	color: red;
}

p {
	font-family: 'Exo', sans-serif;
	color: white;
	font-size: 20px;
}

nav a {
	text-decoration: none;
	text-align: center;
	margin: 2em;
	margin-bottom: 0;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
}

.welcome {
	text-align: center;
	background-color: rgba(89, 87, 89, 0.4);
}

.gossip {
	width: 100%;
	margin: 30px;
	padding: 10px;
}

.postcontainer {
	float: left;
	width: 350px;
	height: 350px;
	margin-left: 50px;
	margin-top: 60px;
	background-color: rgba(89, 87, 89, 0.4);
}

.postimage {
	width: 100%;
	height: 50%;
}

.postimage img {
	width: 100%;
	height: 100%;
}

.posttext {
	width: 100%;
	height: 50%;
}

#title {
	text-align: left;
	font-style: italic;
	font-size: 20px;
	padding: 15px; 
	margin: 0;
}

#body {
	width: 85%;
	margin: 0 auto;
	font-size: 16px;
	padding: 5px;
	border: 1px solid gray;
}

.allgroupies a {
	text-decoration: none;
	color: white;
}

.allgroupies {
	width: 100%
}

.onegroupie {
	float:left;
	width: 45%;
	margin: 20px;
	margin-left: 25%;
	border:1px solid white;
	padding: 15px;
	text-align: center;
}

.groupiephoto {
	float: left;
	width: 30%;
	margin: 20px
}

.groupiephoto img {
	width: 100px;
	height: 100px;
}

.groupieinfo {
	float: left;
	width: 60%;
}

.left {
	float: left;
	width: 30%;
	margin: 20px;
	background-color: rgba(89, 87, 89, 0.4);	
	/*border: 1px solid yellow;*/
}

.new_entry {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	/*border: 1px solid red;*/
}

.greeting {
	width: 100%;
	margin: 20px;
	text-align: center;
}

.center {
	float: right;
	width: 65%;
	/*background-color: rgba(89, 87, 89, 0.4);*/
	/*margin-left: 20%;*/
}

.right {
	float: left;
	width: 30%;
	margin: 20px;
	height: 600px;
	background-color: rgba(89, 87, 89, 0.4);
	/*margin: 0 auto;*/
}

.center h1, .right h1 {
	margin-left: 0;
	text-align: center;
	z-index: 1;
}

.myposts {
	/*float: left;*/
	width: 100%;
	background-color: rgba(89, 87, 89, 0.4);
	margin: 20px;
	padding: 20px;
}

.myposts img {
	height: 100px;
	margin: 0 50px;
}

.right ol, .right li{
	width: 70%;
	font-family: 'Exo', sans-serif;
	color: white;
	font-size: 20px;
}

.friends {
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}
